@import "lib"

#app
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	background border-dark
	color text-dark
	padding 0
	overflow hidden
	display flex
	flex-flow row


@media (max-width: 900px)
	#app
		left -200px
