@import "lib"

#app
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	background #888
	color #ccc
	padding 0
	overflow hidden

	display grid
	grid-gap 1px
	grid-template-columns auto auto 1fr
	grid-template-rows: 50px auto
	grid-template-areas "header header header" "folders notes editor"


h1
	margin 0
	b 0


h2
	display flex
	justify-content space-between
	align-items center
	b 0
	margin 5 0 10
	padding 10
	border-bottom #888
	font 20

.scroller
	flex 1
	overflow hidden
	overflow-y auto

.flex-filler
	flex 1
