@import "lib"


.header
	grid-area header
	display flex
	align-items center
	justify-content space-between
	padding 0 15 0 10
	user-select none
	border-bottom color-bg-dark3
	background  alpha(color-bg-dark0, 0.95)
	z-index 9

	button
		margin 0 0 0 10

	h1
		color color-accent
		text-shadow 0 1px 1px #0008
		font-weight 100
		letter-spacing 2px

	.logo
		height 38px
		margin-right 10px
		filter drop-shadow(0 1px 1px #0008)
