@import "lib"

.folders
	height 100%
	width 200px
	background #333
	color #ccc
	display flex
	flex-flow column
	transition transform .3s ease-out
	border-right #555

	h1
		display flex
		justify-content space-between
		align-items center
		b 0
		margin 10
		font 20

	.scroller
		flex 1
		overflow hidden
		overflow-y auto
