@import "lib"

.folders
	grid-area folders
	width 200px
	transition width .2s
	background #333
	color #ccc
	overflow hidden
	display flex
	flex-flow column
	border-right #555


@media (max-width: 900px)
	.folders
		width 0
