@import "lib"

.folders
	grid-area folders
	width 200px
	transition width .2s
	overflow hidden
	display flex
	flex-flow column
	position relative


	.folder
		padding 10
		user-select none


		&:focus
		&:hover
			background-color color-highlight
			outline none

		&.selected
			background-color color-accent
			color color-text-dark0
			box-shadow 0 0 1px #0008

		&.drag-over
			background color-bg-dark3



@media (max-width: 900px)
	.folders
		width 0
