@import "lib"

.editor
	grid-area editor
	flex 1
	overflow hidden
	display flex
	flex-flow column
	line-height 1.4

	form
		flex 1
		display flex
		flex-flow column

	input
		font 16
		margin 0

		&:focus
			outline none
			box-shadow none

		&.note-title-input
			flex 1

	button
		margin 0 5

	textarea
		width 100%
		height 100%
		border-radius 0
		margin 0
		border none
		padding 10
		font inherit
		resize none

	label
		width 60px

	a
		color color-link0

		&:hover
			color color-link2

	pre
		background color-bg-dark0
		padding 10
		border-radius 4px

	.note-title
		padding 0 10
		font-size 28px
		font-weight 100

	.note-text
		padding 20


.editor-header
	display flex
	flex-flow column
	border-bottom color-accent
	padding 10 10 5

.editor-header-row
	display flex
	flex-wrap wrap
	flex-flow row
	align-items center
	justify-content space-between
	width 100%

	&.edit+&.edit
		margin 15 0 5

.editor.view .editor-header-row.edit
.editor.edit .editor-header-row.view
	display none
