@import "lib"

.editor
	grid-area editor
	flex 1
	overflow hidden
	display flex
	flex-flow column
	line-height 1.4

	form
		flex 1
		display flex
		flex-flow column

	h2
		margin-bottom 0

	textarea
		width 100%
		height 100%
		border-radius 0
		margin 0
		border none
		padding 10
		font inherit
		resize none


	.note-text
		white-space pre-wrap
		padding 10
