@require 'lib'

.command-palette
	flex 1
	flex-wrap wrap
	min-width 200px
	max-width 80%
	position fixed
	left 20%
	right 20%
	top 15%
	border-radius 3px
	display flex
	overflow hidden
	box-shadow 0 5px 100px 10px #000c
	background color-bg-dark2

	&.hidden
		display none

.command-palette *
	box-sizing border-box

.command-palette-input
	font inherit
	font-size 18px
	width 100%
	border none
	padding 25px 17px
	margin 0
	outline none
	background none
	border-radius 4px 4px 0 0

	&:focus
		box-shadow none
		border-color transparent


.command-palette-list
	position relative
	width 100%
	min-height 200px
	max-height 50vh
	overflow-y auto
	z-index 99
	padding 0
	border-top 1px solid color-accent


.command-palette-list-item
	padding 10px 20px
	color color-text-light2
	cursor pointer
	font-size 15px
	line-height 1.6


.item-name
	color color-text-light2
	display flex
	align-items center
	justify-content space-between

	b
		color color-accent

	.pill
		margin 0 0 0 10px
		background color-bg-dark0
		font-size 10px

.item-sub
	color darken(color-text-light2, 30%)
	font-size 0.9em
	multiline-ellipsis(2)



.command-palette-list-item.selected
.command-palette-list-item:hover
	background-color color-bg-dark0
	color color-text-light2

	.pill
		background color-bg-dark3

// .command-palette-list-item.selected
// 	color color-text-dark0
// 	background-color color-accent

// 	.item-sub
// 		color lighten(color-text-dark0, 1Z0%)
