@import "lib"

.list
	transition width .2s
	overflow hidden
	display flex
	flex-flow column
	position relative

	.list-item
		padding 10
		user-select none
		border-bottom 1px color-bg-dark0

		&.selected
			background-color color-highlight

		&:focus
			outline none
			box-shadow 0 0 0 1px color-accent inset


	.list-item-badge
		background color-bg-dark0
		color color-text-light2
		float right
		border-radius 10px
		font-weight normal
		font-size .8em
		line-height 1
		padding 2 8 3
		white-space nowrap

		&:empty
			display none


