@import "lib"

.notes
	grid-area notes
	width 300px


	.note
		display flex
		flex-flow row
		align-items flex-start
		justify-content space-between

		.note-thumb
			size 64px
			background-repeat no-repeat
			background-size cover
			background-position center

		.note-title
			margin-bottom 15px

		.list-item-badge
			float left
			margin 0 10px 0 -4px



.sorter
	padding 0 10px
	height 47px
	border-bottom 5px solid #2e3440
	display flex
	flex-flow row
	align-items center
	justify-content space-between
	color alpha(color-text-light0, .5)

.sorter-btn
	padding 0 5px
	color inherit
	text-decoration none

	&.active
		color color-accent
		text-decoration underline

	&:hover
		color color-text-light0
		text-decoration underline

@media (max-width: 600px)
	#app
		left -10px
	.header
		padding-left 25px
	.notes
		width 0
