@import "lib"

.notes
	position absolute
	left 200px
	top 0
	bottom 0
	width 299px
	transform translateX(0)
	transition transform .3s ease-out
	background #333
	color #ccc
	display flex
	flex-flow column


	.scroller
		flex 1
		overflow hidden
		overflow-y auto
